:root {
    background-image: linear-gradient(to bottom right, #ff6347, #6a5acd);
}

body {
    font-size: 16px;
}
table {
    font-size: 14px;
}
th, td {
    overflow: hidden;
    text-overflow: ellipsis;
}
footer {
    font-size: 80%;
}
