:root {
    background-color: #5B3045;
}

a {
    color: #8CB4FF;
    text-decoration: underline;
}
a:active {
    background-color: #8CB4FF;
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    border: 3px dashed #B55F8A;
    color: white;
    font-family: "Cousine", monospace;
    line-height: 2;
    margin: 20px auto;
    padding: 20px;
}
footer {
    line-height: 1;
}
h1 {
    font-family: "Nova Cut", serif;
    text-align: center;
}
table {
    border-collapse: collapse;
    line-height: 1.25;
    table-layout: fixed;
    width: 100%;
}
tbody tr:nth-child(odd) {
    background-color: #743D58;
}
th, td {
    border: 1px solid #B55F8A;
    padding: 10px;
}

.block.bottom {
    margin-top: 0;
}
.block.middle {
    margin-bottom: 0;
    margin-top: 0;
}
.block.top {
    margin-bottom: 0;
}
.notice {
    color: #FF00FF;
}
.right-align {
    text-align: right;
}
.small-text {
    font-size: 75%;
}
