:root {
    background-attachment: fixed;
    background-color: #6a5acd;
    background-image: linear-gradient(to bottom right, #ff6347, #6a5acd);
    background-repeat: no-repeat;
}

body {
    background-color: #d8bfd8;
    border: 3px solid black;
    font-family: "Cousine", monospace;
    line-height: 2;
    margin: 20px auto;
    padding: 20px;
}
h1 {
    font-family: "Nova Cut", serif;
    text-align: center;
}
table {
    border-collapse: collapse;
    line-height: 1.25;
    table-layout: fixed;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
footer {
    line-height: 1;
}

tbody tr:nth-child(even) {
    background-color: #dda0dd;
}

.notice {
    color: #a52a2a;
}
.right-align {
    text-align: right;
}
