:root {
    background-attachment: fixed;
    background-color: #b55f8a;
    background-repeat: no-repeat;
}

body {
    background-color: #d8bfd8;
    border: 3px solid black;
    font-family: "Cousine", monospace;
    line-height: 2;
    margin: 20px auto;
    padding: 20px;
}
h1 {
    font-family: "Nova Cut", serif;
    text-align: center;
}
table {
    border-collapse: collapse;
    line-height: 1.25;
    table-layout: fixed;
    width: 100%;
}
tbody tr:nth-child(odd) {
    background-color: #dda0dd;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
footer {
    line-height: 1;
}

.notice {
    color: #a52a2a;
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}
.spell-table tr td:nth-last-child(1) {
    font-size: 75%;
}

.top-block {
    margin-bottom: 0;
}
.middle-block {
    margin-top: 0;
    margin-bottom: 0;
}
.bottom-block {
    margin-top: 0;
}
