:root {
    background-color: #5B3045;
}

a {
    color: #BDD4FF;
    text-decoration: underline;
}
a:active {
    background-color: #BDD4FF;
    color: #003699;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    border: 3px dashed #B55F8A;
    color: white;
    font-family: "Cousine", monospace;
    line-height: 2;
    margin: 20px auto;
    padding: 20px;
}
footer {
    line-height: 1;
}
table {
    border-collapse: collapse;
    line-height: 1.25;
    overflow-wrap: break-word;
    table-layout: fixed;
    width: 100%;
}
tbody tr:nth-child(odd) {
    background-color: #743D58;
}
th, td {
    border: 1px solid #B55F8A;
    padding: 10px;
}

.block.bottom {
    margin-top: 0;
}
.block.middle {
    margin-bottom: 0;
    margin-top: 0;
}
.block.top {
    margin-bottom: 0;
}
.center-align {
    text-align: center;
}

@media (orientation: landscape) {
    body {
        font-size: 1.2em;
        width: 60vw;
    }
    footer {
        font-size: 80%;
    }
    table {
        font-size: 85%;
    }
}
@media (orientation: portrait) {
    body {
        font-size: 2.4em;
        width: 90vw;
    }
    footer {
        font-size: 50%;
    }
}
