<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="icon.svg">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine">
        <meta charset="utf-8">
        <title>Faepedia - Races</title>
    </head>
    <body>
        <p><a href="./">Back to homepage</a></p>
        <ul>
            {{#each races}}
            <li><a href="{{kebabCase this.name}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </body>
</html>
